include /env.pug

block vars

.layout
  .branding
    a(href="/") #{env.site.title}
  label#menu-btn(for="menu-toggle") :
  input#menu-toggle(type="checkbox")
  #menu.sp
    each menu in menus
      a(href=`${menu.href}`) #{menu.label} 