@custom-media --md (min-width: 500px) and (max-width: 1024px);
@custom-media --lg (min-width: 1024px);

#hero {
  .main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
  }
  
  .sub {
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .hash {
    padding-top: 77px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

#content{
  padding: 0 20px;

  .section {
    padding-top: 95px;
  
    &-title {
      transform: rotate(-3deg);
    
      img {
        margin: 0 auto;
        margin-bottom: 30px;
      }
    }
  
    &-content {
      padding: 0 30px
    }
  }
}

#sns {
  padding: 0 20px;
  padding-top: 70px;

  .section {
    background: #CF6500;
    padding: 20px
  }

  .flex-box {
    justify-content: space-evenly;
  }
  
  .share {
    margin-top: 40px
  }
}

#partner {
  padding: 0 20px;
  padding-top: 70px;

  .section {
    &-title {
      img {
        margin: 0 auto;
        margin-bottom: 30px;
      }
    }
  }

  .btn-wrap {
    text-align: center;
    margin-bottom: 20px;
  }
}
