@custom-media --md (min-width: 500px) and (max-width: 1024px);
@custom-media --lg (min-width: 1024px);

.sub {
  #hero {
    
    .section {
      padding: 80px 40px;
      transform: rotate(-3deg);

      &-title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        @media (--md) {
          min-height: 16em;
        }
        @media (--lg) {
          min-height: 16em;
        }
        
        img {
          margin: 0 auto;
          margin-top: 10px;
          margin-bottom: 30px;
        }

        .catch {
          font-size: 14px;
        }
        .num {
          font-size: 64px;
          line-height: 1em;
        }
        .copy {
          font-size: 30px;
          line-height: 1.2em;
          text-align: center;
          margin-bottom: auto;
          margin-top: auto;
          white-space: nowrap;
        }
      }

      &-content {
        display: flex;
        max-width: 830px;
        margin: auto;

        img {
          @media (--md) {
            max-width: 360px !important;
            max-height: 360px !important;
          }
        
          @media (--lg) {
            max-width: 360px !important;
            max-height: 360px !important;
          }
        }

        .body {
          display: none;
          padding-left: 70px;
          font-size: 15px;
          line-height: 2.3;

          @media (--md) {
            display: block;
          }
        
          @media (--lg) {
            display: block;
          }
        }
      }
    }
    .sub {
      font-size: 15px;
      line-height: 2.3;
      width: 18.5em;
      margin: auto;

      @media (--md) {
        display: none
      }
    
      @media (--lg) {
        display: none
      }
    }
  }

  #musk {
    background: #CF6500;
    padding: 40px;

    .section-content  {
      max-width: 860px;
      margin: auto;
          margin-bottom: 50px;
      text-align: center;

      .btn {
        background: #fff;
        margin: auto;
        margin-bottom: 90px;
      }

      .items {
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 90px;

        @media (--md) {
          display: flex;
        }
      
        @media (--lg) {
          display: flex;
        }

        .item  {
          flex-basis: 30%;
        }
      }

      .photos {
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 90px;

        @media (--md) {
          display: flex;
        }
      
        @media (--lg) {
          display: flex;
        }
        .item {
          flex-basis: 30%;

          &:nth-child(even) {
            margin-left: -40px;
            @media (--md) {
              margin-left: 0px;
            }
          
            @media (--lg) {
              margin-left: 0px;
            }
          }

          &:nth-child(odd) {
            margin-right: -40px;

            @media (--md) {
              margin-right: 0px;
            }
          
            @media (--lg) {
              margin-right: 0px;
            }
          }
        }
      }
    }
  }
}