@custom-media --md (min-width: 500px) and (max-width: 1024px);
@custom-media --lg (min-width: 1024px);

html {
  font-family: a-otf-futo-go-b101-pr6n,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  font-size: 62.5%;
  letter-spacing: 0.5px;
  color: #2d2b3e;
  line-height: 1.6;
  word-break: break-word;
  font-feature-settings: 'palt' 1;
  background: #000;
}

body {
  margin: auto; 
  font-size: 1.4rem;
  background: #fff;

  @media (--md) {
    font-size: 1.6rem;
  }

  @media (--lg) {
    font-size: 1.8rem;
  }
}

h1 {
  text-align:center;

  .section-title {
    display: block;
    font-size: 30px;
  }
  .section-subtile {
    font-size: 16px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  &.pc {
    display: none;
  }

  @media (--md) {
    &.sp {
      display: none;
    }
    &.pc {
      display: block;
    }
  }
  @media (--lg) {
    &.sp {
      display: none;
    }
    &.pc {
      display: block;
    }
  }
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.xs2 {
  flex-basis: 16.666666666666664%;
  flex-grow: 0;
  max-width: 16.666666666666664%;
}

.xs5 {
  flex-basis: 41.66666666666667%;
  flex-grow: 0;
  max-width: 41.66666666666667%;
}

.xs6 {
  flex-basis: 50%;
  flex-grow: 0;
  max-width: 50%;
}

.card {
  position: relative;
  background: #f7f7f7;
  width: 99%;
  margin: 0.5%;
  border-radius: 2px;
  overflow: hidden;

  @media (--md) {
    width: 49%
  }

  @media (--lg) {
    width: 32.333%;
  }

  &-image {
    position: relative;
    overflow: hidden;
    padding-top: 56.2%;

    .img {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &-body {
    padding: 1em;
  }

  .title {
    font-size: 130%;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .description {
    font-size: 85%;
    margin-bottom: 1em;
  }
}

.inline-block {
  display: inline-block;
}

.btn {
  display: inline-block;
  background: #CF6500;
  color: #000;
  text-align: center;
  text-decoration: none;
  padding: 1.5em 3em;
}

.global-header {
  display: flex;
  align-items: center;
  /* color: #fff; */
  /* background: #000; */

  .branding {
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;

    @media (--md) {
      display: block;
    }
  
    @media (--lg) {
      display: block;
    }
  
  }

  #menu {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #CF6500;
    z-index: 99;
    padding-top: 100px;

    @media (--md) {
      width: 380px;
      left: auto;
    }
  
    @media (--lg) {
      width: 380px;
      left: auto;
    }

    .list {
      color: #000;
      margin-bottom: 30px;

      .li {
        min-height: 64px;
        font-size: 22px;

        &.sub {
          font-size: 17px;
          min-height: 30px;
          padding-left: 20px;

          a {
            min-height: 30px;
          }
        }

        a {
          display: flex;
          align-items: center;
          min-height: 64px;
          padding-left: 55px;
        }
      }

    }
    
    &-btn {
      position: fixed;
      z-index: 100;
      right: 0;
      top: 0;
      padding: 10px;

      .close {
        display: none;
      }

      &.open {
        .eye {
          display: none;
        }

        .close {
          display: block;
        }
      }
    }
  }


}


.global-footer {
  margin-top: 10em;
  background: #CF6500;

  .wrap {
    padding: 20px;

    @media (--md) {
      padding-top: 140px;
    }
  
    @media (--lg) {
      padding-top: 140px;
    }

    img {
      margin: 20px auto;
    }
  }
  .section {
    margin-bottom: 30px;

    @media (--md) {
      text-align: center;
    }
  
    @media (--lg) {
      text-align: center;
    }

    &-title {
      color: #fff;
      text-align: left;

      @media (--md) {
        padding-top: 50px;
        text-align: center;
      }
    
      @media (--lg) {
        padding-top: 50px;
        text-align: center;
      }
    }
  }
}

.container{
  &.main {
    display: block !important;
  }

  &.loading {
    display: none !important;
  }
}

.wrap {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.font-style-1 {
  font-family: a-otf-futo-go-b101-pr6n, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.font-style-2 {
  font-family: interstate, sans-serif;
  font-weight: 700;
  font-style: normal;
}
