@custom-media --md (min-width: 500px) and (max-width: 1024px);
@custom-media --lg (min-width: 1024px);

.sub {
  .brand {
    display: none;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 2;

    @media (--md) {
      display: block;
    }
  
    @media (--lg) {
      display: block;
    }
  }

  .hero { 
    overflow: hidden;

    img {
      display: none;

      @media (--md) {
        display: block
      }
    
      @media (--lg) {
        display: block
      }

      &.sp {
        display: block;

        @media (--md) {
          display: none
        }
      
        @media (--lg) {
          display: none
        }
      }
    }

    /* .wrap {
      padding: 80px 40px;
      transform: rotate(-3deg);
    } */

    /* &-title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      @media (--md) {
        min-height: 14em;
      }
      @media (--lg) {
        min-height: 14em;
      }
      
      img {
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 30px;
      }

      .catch {
        font-size: 14px;
        line-height: 1;
      }

      .num {
        font-size: 64px;
        line-height: 1em;

        @media (--md) {
          font-size: 77px;
        }
        @media (--lg) {
          font-size: 77px;
        }
      }

      .copy {
        font-size: 30px;
        line-height: 1.2em;
        text-align: center;
        margin-bottom: auto;
        margin-top: auto;

        @media (--md) {
          font-size: 39px;
        }
        @media (--lg) {
          font-size: 39px;
        }
      }
    }

    &-content {
      display: flex;
      max-width: 900px;
      margin: auto;

      img {
        @media (--md) {
          max-width: 360px !important;
          max-height: 360px !important;
        }
      
        @media (--lg) {
          max-width: 360px !important;
          max-height: 360px !important;
        }
      }

      .body {
        display: none;
        padding-left: 70px;
        font-size: 15px;
        line-height: 2.3;

        @media (--md) {
          display: block;
        }
      
        @media (--lg) {
          display: block;
        }

        .under {
          text-decoration: underline;
          display: block;
        }

        .attention {
          font-size: 13px;
          margin-top: 1em;
        }
      }
    } */
    
    /* &-sub {
      font-size: 23px;
      line-height: 2.3;
      padding: 0 25px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;

      @media (--md) {
        display: none
      }
    
      @media (--lg) {
        display: none
      }

      .attention {
        font-size: 17px;
        margin-top: 1em;
      }
    } */

    /* .headline {
      color: #cf6500;
      line-height: 1.2;
      font-size: 26px;
      margin-bottom: 1em;
    } */
  }

  .section {
    background: #CF6500;
    padding: 0 28px;
    padding-bottom: 70px;
  }

  #mask {
    .section-content  {
      max-width: 900px;
      margin: auto;
      margin-bottom: 50px;
      text-align: center;
      padding-top: 100px;

      .btn {
        background: #fff;
        margin: auto;
        margin-bottom: 90px;
      }
      .btn {
        padding: 1.5em 0;
        width: 330px;
        @media (--md) {
          width: 348px;
        }
      
        @media (--lg) {
          width: 348px;
        }
      }
      .items {
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 90px;

        @media (--md) {
          display: flex;
        }
      
        @media (--lg) {
          display: flex;
        }

        .item  {
          flex-basis: 30%;
          margin-bottom: 40px;

          .num {
            font-family: interstate, sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 40px;
          }

          img {
            margin-bottom: 20px;
          }
  
          .label {
            font-family: interstate, sans-serif;
            line-height: 1;
            font-weight: 700;
            font-style: normal;
            font-size: 27px;
          }
  
          .ruby {
            font-size: 14px;
          }
        }
      }

      .photos {
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 90px;

        @media (--md) {
          display: flex;
        }
      
        @media (--lg) {
          display: flex;
        }
        .item {
          flex-basis: 360px;
          margin-bottom: 28px;
          @media (--md) {
            flex-basis: 30%;
          }
        
          @media (--lg) {
            flex-basis: 30%;
          }
          &:nth-child(odd) {
            margin-left: -28px;
            @media (--md) {
              margin-left: 0px;
            }
          
            @media (--lg) {
              margin-left: 0px;
            }
          }

          &:nth-child(even) {
            margin-right: -28px;

            @media (--md) {
              margin-right: 0px;
            }
          
            @media (--lg) {
              margin-right: 0px;
            }
          }
        }
      }
    }
  }

  #ws {
    .label {
      font-size: 30px;
      text-align: center;
      color: #fff;
      padding-top: 100px;
      margin-bottom: 70px;
    }
    .course {
      flex-wrap: wrap;
      justify-content: space-evenly;

      @media (--md) {
        display: flex;
      }
    
      @media (--lg) {
        display: flex;
      }

      .item  {
        flex-basis: 40%;
        margin-bottom: 80px;

        .title {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          
          .num {
            width: 15%
          }
          span {
            margin-left: auto;
            width: 80%
          }
        }
        .img {
          width: 100%;
          margin-top: 10px;
        }

        .btn {
          background: #fff;
          display: block;
          line-height: 70px;

          &-wrap {
            width: 100%;
            margin-top: 10px;
            text-align: center;
          }
        }
      }
    }
    .showroom {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      img {
        height: 100%;
        @media (--md) {
          width: 30%;
          height: auto;
        }
      
        @media (--lg) {
          width: 30%;
          height: auto;
        }
        &:nth-child(odd) {
          margin-left: -40px;
          @media (--md) {
            margin-left: 0px;
          }
        
          @media (--lg) {
            margin-left: 0px;
          }
        }

        &:nth-child(even) {
          margin-right: -40px;

          @media (--md) {
            margin-right: 0px;
          }
        
          @media (--lg) {
            margin-right: 0px;
          }
        }
      }
    }
  }

  #present {
    background: #fff;
    text-align: center;

    .label {
      margin-bottom: 1em;
      font-size: 20px;
      text-align: left;

      @media (--md) {
        text-align: center;
        font-size: 15px;
      }
    
      @media (--lg) {
        text-align: center;
        font-size: 15px;
      }
    }

    .btn {
      display: inline-flex;
      align-items: center;
      font-size: 17px;
      color: #fff;
      padding: 20px;

      img {
        margin-right: 1em;
      }
    }
  }

  .global-footer {
    margin-top: 0;

    .bg {
      display: none;
    }
  }
}