@custom-media --md (min-width: 500px) and (max-width: 1024px);
@custom-media --lg (min-width: 1024px);
.top {
  .brand {
    display: none;
  }

  #hero {
    .main {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px;
      
      @media (--md) {
        height: auto;
        padding-top: 100px;
      }
    
      @media (--lg) {
        height: auto;
        padding-top: 100px;
      }
    }
    
    .sub {
      padding-right: 20px;
      padding-left: 20px;
    }
    
    .hash {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 77px;
      padding-right: 30px;
      padding-left: 30px;
      text-align: left;

      .label {
        color: #CF6500;
        font-size: 33px;
        text-align: center;

        span {
          white-space: nowrap;
        }
      }
    }
  }
  
  #content{
    padding: 0 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
    @media (--md) {
      display: flex;
    }
    @media (--lg) {
      display: flex;
    }
  
    .section {
      padding-top: 70px;
    
      @media (--md) {
        flex-basis: 250px;
        width: 250px;
      }
      @media (--lg) {
        flex-basis: 250px;
        width: 250px;
      }
  
      &-title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
  
        @media (--md) {
          min-height: 16em;
        }
        @media (--lg) {
          min-height: 16em;
        }
        
        img {
          margin: 0 auto;
          margin-top: 10px;
          margin-bottom: 30px;
        }
  
        .catch {
          font-size: 14px;
          line-height: 1.2
        }
        .num {
          font-size: 64px;
          line-height: 1em;
        }
        .copy {
          font-size: 30px;
          line-height: 1.2em;
          text-align: center;
          margin-bottom: auto;
          margin-top: auto;
          white-space: nowrap;

          @media (--md) {
            font-size: 18px;
          }
          @media (--lg) {
            font-size: 18px;
          }
        }
      }
    
      &-content {
      }
    }
  
  
  }
  
  #sns {
    padding: 0 20px;
    padding-top: 170px;
  
    .section {
      background: #CF6500;
      padding: 20px;
  
      &-title {
        text-align: center;
  
        .label {
          font-size: 64px;
          color: #fff;
        }
      }
    }
  
    .flex-box {
      justify-content: center;
    }
    
    .share {
      a {
        display: inline-block;
        margin: 40px
      }
    }
  }
  
  #partner {
    padding: 0 20px;
    padding-top: 70px;
  
    .section {
      &-title {
        img {
          margin: 0 auto;
          margin-bottom: 30px;
          transform: rotate(-3deg);
        }
      }
      &-content {
        text-align: center;

        p {
          text-align: left;
          @media (--md) {
            font-size: 23px;
          }
        
          @media (--lg) {
            font-size: 23px;
          }
          
        }
      }
    }
  
    .btn-wrap {
      text-align: center;
      margin-bottom: 20px;

      @media (--md) {
        display: inline-block;
        margin: 10px;
      }
    
      @media (--lg) {
        display: inline-block;
        margin: 10px;
      }
    }
  }
  
  .color-white { 
    color: #fff
  }
}
