block vars
  - var homeurl = "http://hnhs.info/"
  -
    var env = {
      site: {
        title: "HELLO! NEW HALLOWEEN SHIBUYA 2020",
        description: "HELLO! NEW HALLOWEEN SHIBUYA 2020",
        url: `${homeurl}/`,
        gtm: "https://www.googletagmanager.com/ns.html?id=GTM-KQZ8PJ8",
        owner: 'HNHS事務局'
      }
    }
  -
    var menus = [
      { href: '#release', label: 'お知らせ'}
    ]