block vars
  - var homeurl = "http://hnhs.info/"
  -
    var env = {
      site: {
        title: "HELLO! NEW HALLOWEEN SHIBUYA 2020",
        description: "HELLO! NEW HALLOWEEN SHIBUYA 2020",
        url: `${homeurl}/`,
        gtm: "https://www.googletagmanager.com/ns.html?id=GTM-KQZ8PJ8",
        owner: 'HNHS事務局'
      }
    }
  -
    var sponsor = [
      'ADDReC株式会社',
      'Creator’s Hub',
      'Dentsu Lab Tokyo',
      'NEW STAND TOKYO',
      'One&Co（シンガポール）',
      'Peatix Japan株式会社',
      'SHIBUYA QWS',
      'WeWork Japan 合同会社',
      '株式会社whatever',
      '株式会社WTFC',
      '株式会社Muscle Deli',
      '株式会社トランジットジェネラルオフィス',
      '株式会社BAKERU',
      '株式会社CO&CO',
      '株式会社ヴァレント',
      '株式会社渋谷マークシティ',
      '株式会社スキーマ',
      '株式会社スタートステーション',
      '株式会社ミクシィ',
      '株式会社リアレーション',
      '渋谷スクランブルスクエア',
      '渋谷ストリーム',
      '渋谷ヒカリエ',
      '渋谷フクラス',
    ]
  -
    var support = [
      '渋谷区'
    ]