block vars
  - var BODY_CLASS = "top"
  - var CATCH_COPY = "今年は、集まらないハロウィンを。"

include /component/globals/head.pug
  .page-wrap
    .container.main(style="display:none")
      .global-header
        include /component/globals/header.pug
      .global-body
        #hero
          .main
            img(src="/images/main.svg")
          .sub
            img(src="/images/sub.svg")
          .hash
            img(src="/images/hash.svg")
            p 集まらないハロウィンを楽しむためのさまざまな取り組みを⾏います
        #content
          section.fadein.section#01
            .section-title
              img(src="/images/title-01.svg")
              img(src="/images/content-01.jpg")
            .section-content
              p 毎日をハロウィンに。ジャック・オ・ランタン、ドラキュラ、狼男…つけるだけで仮装できる、ドネーション付きマスクです。
          section.fadein.section#02
            .section-title
              img(src="/images/title-02.svg")
              img(src="/images/content-02.jpg")
            .section-content
              p 子どもたちとつくる、オリジナルハロウィンマスクの作り方をご紹介します。
          section.fadein.section#03
            .section-title
              img(src="/images/title-03.svg")
            .section-content
              p(style="text-align: center") # COMING SOON
        #sns
          section.section#04
            .section-title
              img(src="/images/title-04.svg")
            .section-content
            .share.flex-box
              a(href="")
                img(src="/images/tw.svg")
              a(href="")
                img(src="/images/ig.svg")
        #partner
          section.section#05
            .section-title
              img(src="/images/title-05.svg")
            .section-content
              p 共感してくださる企業・個人のみなさまが、自由に参加できるプロジェクトです。本プロジェクトのロゴマークはWEBや印刷物等へお使いいただけます。
              .btn-wrap
                a.btn(href="" download) ロゴはこちら
              .btn-wrap
                a.btn(href="" target="_blank") お問い合わせ
      .global-footer
        include /component/globals/footer.pug