block vars
  - var BODY_CLASS = "present sub"
  - var INDEX = "03"
  -
    var COPY = [
      "#プレゼントマスクで",
      "ハロウィン"
    ]
  -
    var HEAD = [
      "応募期間 :",
      "2020.9.24 - 2020.10.14"
    ]
  -
    var BODY = [
      "公式Instagramアカウントをフォローして、",
      "<span class='under'>#集まらないハロウィン</span>",
      "<span class='under'>#あたらしいハロウィン</span>",
      "２つのハッシュタグをつけて投稿すると、",
      "抽選で５０名様にハロウィンマスクをプレゼント！"
    ]
  -
    var AT = [
      "＊当選者にはDMを通じてご連絡させていただきます",
      "＊⾮公開アカウントは対象外となります"
    ]

include /component/globals/head.pug
  .page-wrap
    .container.main(style="display:none")
      .global-header
        include /component/globals/header.pug
      .global-body
        .hero.fadein
          include /component/globals/sub-header.pug
        section.section#present
          .label みなさんの「集まらないハロウィン」を楽しむアイデアを、ぜひシェアしてください！
          .btn-wrap
            a.btn(href="https://example.com")
              img(src="/images/ig.svg")
              div
                span.inline-block 公式Instagram
                span.inline-block アカウントはこちら
      .global-footer
        include /component/globals/footer.pug